.features-wr{
    margin-top: 60px;

    @media screen and (max-width: 425px){
        margin-bottom: 30px;
    }

    .container{
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media screen and (max-width: 968px){
            flex-direction: column;
        }
    }

    .left-part{
        width: 510px;
        height: 416px;

        @media screen and (max-width: 968px){
            margin-bottom: 28px;
        }

        @media screen and (max-width: 554px) {
             width: 90%;
             height: auto;   
        }

        img{
            width: 100%;
            height: 100%;
        }
    }

    .right-part{
        max-width: 408px;

        @media screen and (max-width: 968px){
            max-width: 80%;
        }

        h1{
            color: rgb(43, 43, 43);
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 16px;
        }

        .discr{
            color: rgb(90, 90, 90);
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 17px;
        }

        .features{

            .point{
                display: flex;
                align-items: center;
                column-gap: 16px;
                margin-bottom: 21px;
                p{
                    color: rgb(43, 43, 43);
                    font-size: (10px, 2vw, 16px);
                    font-weight: 600;
                }
                    
                img{
                    width: 20px;
                    height: 20px;
                }
            }

        }
    }
}