.plan-wr{
    .container{
        max-width: 1009px;
        margin: 0 auto;
    }

    .card-holder{
        display: flex;
        column-gap: 29px;

        @media screen and (max-width: 1048px) {
            overflow-x: auto;
            padding: 0 18px;
        }

        @media screen and (max-width:742px) {
            column-gap: 16px;
        }
    }

    .card-holder::-webkit-scrollbar {
        display: none;
      }
}