.feed-wr{
    margin-top: 32px;

    .container{
        max-width: 1248px;
        margin: 0 auto;
    }

    .comments{
        display: flex;
        column-gap: 18px;
        margin-bottom: 31px;


        @media screen and (max-width: 1288px) {
            overflow-x: auto;
            padding: 0 18px;
        }
    }

    .comments::-webkit-scrollbar {
        display: none;
      }

    .buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1288px) {
            max-width: 93%;
            margin: 0 auto;
            margin-top: 21px;
        }

        .scroll{
            display: flex;
            column-gap: 9px;
            .current{
                width: 58px;
                height: 13px;
                background-color: rgb(245, 56, 56);
                border-radius: 20px;
            }

            .dot{
                width: 13px;
                height: 13px;
                background: rgb(216, 216, 216);
                border-radius: 20px;
            }
        }

        .arrows{
            display: flex;
            column-gap: 50px;

            @media screen and (max-width: 537px) {
                column-gap: 25px;
            }

            button{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: 537px) {
                    width: 25px;
                    height: 25px;
                }

                img{
                    width: 28px;
                    height: 28px;

                    @media screen and (max-width: 537px) {
                        width: 14px;
                        height: 14px;
                    }
                }
            }

            .left-arrow{
                background-color: rgb(209, 209, 209);
                transform: rotate(180deg);
            }
            .right-arrow{
                background-color: rgb(245, 56, 56);;
            }
        }
    }
}